.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.container {
  height: 95%;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  align-items: stretch;
  grid-template-areas:
    "User-Widget Notes-Widget News-Widget"
    "User-Widget Notes-Widget News-Widget"
    "Weather-Widget Notes-Widget News-Widget"
    "Timer-Widget Timer-Widget News-Widget"
    "Timer-Widget Timer-Widget News-Widget";
}

.UserWidget {
  background-color: #5746ea;
  grid-area: User-Widget;
  overflow-y: auto;
}

.WeatherWidget {
  background-color: #ff4ade;
  grid-area: Weather-Widget; 
 font-size: 7px;
  
  
  
 
 


  
}

.TimerWidget {
  background-color: #1e2343;
  grid-area: Timer-Widget;
}

.NotesWidget {
  background-color: #f1c75b;
  grid-area: Notes-Widget;
}

.NewsWidget {
  background-color: lightcoral;
  grid-area: News-Widget;
}

.nextButton {
  padding: 10px 55px;
  font-size: 16px;
  background-color: #148a08;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end; /* Align button to the right */
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.nextButton:hover {
  background-color: #229216;
}
